---
import { Image } from "astro:assets";
import hero from "../../assets/beach-running.jpg";
---

<div class="relative">
  <Image src={hero} alt="running on beach" class="object-cover min-h-[50vh]" />
  <div
    class="absolute top-0 left-1/2 -translate-x-1/2 z-10 [text-shadow:0px_0px_18px_rgba(0,0,0)] max-w-5xl tracking-wide mx-auto font-blackops text-yellow-500 font-bold text-4xl sm:text-6xl text-center h-[30vh] md:h-[50vh] lg:h-[80vh] pt-10 lg:pt-20"
  >
    TEAM BUILDING TRAINING
    <p
      class="max-w-5xl mx-auto text-white font-bold font-sans text-2xl sm:text-4xl text-center mt-2"
    >
      Resilience, Discipline, Commitment
    </p>
  </div>
</div>
