<section
  class="overflow- sm:grid sm:grid-cols-2 sm:items-start max-w-6xl mx-auto"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-left ltr:sm:text-left rtl:sm:text-right">
      <h2
        class="text-2xl font-bold text-yellow-600 tracking-widest md:text-3xl font-blackops text-center"
      >
        ATHLETIC & BUSINESS TEAM BUILDING TRAINING
      </h2>
      <p class="md:mt-4 font-bold text-black text-xl text-center">
        "Unleash The Warrior Within"
      </p>
      <p class="text-black text-xl md:mt-4">
        At Getka SEAL Mindset, we are about building high-performing, cohesive,
        and resilient teams capable of overcoming any obstacles. You can expect
        to unlock a level of potential you may not have realized was within you
        or your team.
      </p>
      <p class="text-black text-xl md:mt-4">
        Our training is designed to test your perseverance and resiliency
        through challenging and stressful activities. How do we do that? We do
        that by using a variety of the same training techniques our founder used
        as a Navy SEAL instructor.
      </p>
      <p class="text-black text-xl md:mt-4">
        Development within your team is crucial for maximizing productivity.
        Effective teamwork involves leadership, communication, trust,
        problem-solving, accountability, responsibility, collaboration, and
        attention-to-detail.
      </p>
      <p class="text-black text-xl md:mt-4">
        Your team will be broken down into Boat Crews (Groups) of 4 to 8 people
        and tasked with challenging and competitive evolutions to complete. Boat
        Crew is a Basic Underwater Demolition/SEAL (BUD/S) term.
      </p>
      <p class="text-black text-xl md:mt-4">
        Note: Boats will not be used for training.
      </p>
    </div>
  </div>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2
        class="text-2xl font-bold text-yellow-600 tracking-widest md:text-3xl font-blackops"
      >
        OUR COMMITMENT TO YOU
      </h2>
      <ul class="text-left text-xl space-y-2 list-disc list-outside">
        <li>
          We will get you out of your comfort zone and test your ability to
          overcome obstacles both mentally and physically.
        </li>
        <li>
          You will be a stronger and more cohesive team after completing a Getka
          SEAL Mindset training session
        </li>
        <li>
          Development within your team is crucial for maximizing productivity.
        </li>
      </ul>
      <h2
        class="text-2xl font-bold text-yellow-600 tracking-widest md:text-3xl font-blackops mt-4"
      >
        ARE YOU READY
      </h2>
      <p class="md:mt-4 text-left font-bold text-black text-xl">
        The beach is the preferred location for a GSM training session. However,
        the training methods and location can be customized to meet your needs.
      </p>

      <h2
        class="text-2xl font-bold text-yellow-600 tracking-widest md:text-3xl font-blackops mt-4"
      >
        SEAL ETHOS
      </h2>
      <ul class="text-left text-xl space-y-2 list-disc list-outside">
        <li>
          The ability to control my emotions and my actions, regardless of
          circumstance, sets me apart from others.
        </li>
        <li>
          I will never quit. I persevere and thrive on adversity. If knocked
          down, I will get back up, every time. I am never out of the fight.
        </li>
        <li>We demand discipline. My training is never complete.</li>
        <li>I lead by example in all situations.</li>
      </ul>

      <div class="mt-4 md:mt-8">
        <a
          href="#"
          class="inline-block rounded bg-yellow-600 px-12 py-3 font-bold text-black uppercase text-lg transition hover:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-800"
        >
          Schedule Training
        </a>
      </div>
    </div>
  </div>
</section>
