---
import Hero from "../components/Hero.astro";
import Layout from "../components/Layout.astro";
import BackgroundImageWrapper from "../components/BackgroundImageWrapper.astro";
import CTA from "../components/CTA.astro";
import Banner from "../components/Banner.astro";
import BoatText from "../components/BoatText.astro";
import About from "../components/About.astro";
import Testimonial from "../components/Testimonial.astro";
---

<div
  class="absolute h-auto md:h-screen w-full bg-[url('/beach.jpg')] bg-no-repeat bg-cover bg-center -z-40"
>
</div>
<Layout>
  <Hero />
  <BackgroundImageWrapper>
    <CTA />
    <Banner />
    <BoatText />
    <About />
    <Testimonial />
  </BackgroundImageWrapper>
</Layout>
