---
import { Image } from "astro:assets";
import statue from "../../assets/statue.jpg";
---

<section
  class="sm:grid gap-3 sm:grid-cols-2 sm:items-start max-w-6xl mx-auto py-10"
>
  <div
    class="rounded-xl bg-white shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] ring ring-yellow-50 p-2 lg:p-4 m-8"
  >
    <div class="flex items-start sm:gap-8">
      <div
        class="hidden sm:grid sm:h-12 sm:w-12 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:bg-yellow-600 my-auto"
        aria-hidden="true"
      >
        <div class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g fill="white"
              ><path
                d="M22 12A10.002 10.002 0 0 0 12 2v2a8.003 8.003 0 0 1 7.391 4.938A8 8 0 0 1 20 12h2ZM2 10V5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6a8 8 0 0 0 8 8v-2a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5C7.373 22 2 16.627 2 10Z"
              ></path><path
                d="M17.543 9.704A5.99 5.99 0 0 1 18 12h-1.8A4.199 4.199 0 0 0 12 7.8V6a6 6 0 0 1 5.543 3.704Z"
              ></path></g
            ></svg
          >
        </div>
      </div>
      <div>
        <h3 class="mt-4 text-lg font-medium sm:text-xl">
          <a
            href="tel:904-319-0231"
            class="text-yellow-600 font-bold text-3xl lg:text-5xl"
          >
            Call Us</a
          >
        </h3>
        <p class="mt-1 text-black text-xl">904-319-0231</p>
      </div>
    </div>
  </div>
  <div
    class="rounded-xl bg-white shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] ring ring-yellow-50 p-2 lg:p-4 m-8"
  >
    <div class="flex items-start sm:gap-8">
      <div
        class="hidden sm:grid sm:h-12 sm:w-12 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:bg-yellow-600 my-auto"
        aria-hidden="true"
      >
        <div class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="white"
              d="M19 9A7 7 0 1 0 5 9c0 1.387.409 2.677 1.105 3.765h-.008L12 22l5.903-9.235h-.007A6.971 6.971 0 0 0 19 9zm-7 3a3 3 0 1 1 0-6a3 3 0 0 1 0 6z"
            ></path></svg
          >
        </div>
      </div>
      <div>
        <h3 class="mt-4 text-lg font-medium sm:text-xl">
          <a
            href="tel:904-319-0231"
            class="text-yellow-600 font-bold text-3xl lg:text-5xl"
          >
            Location</a
          >
        </h3>
        <p class="mt-1 text-black text-xl">Ponte Vedra Beach, Florida 32082</p>
      </div>
    </div>
  </div>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24 z-50">
    <form
      class="w-full max-w-3xl bg-white p-10 shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px]"
    >
      <h2
        class="text-2xl font-bold text-center text-yellow-600 tracking-widest md:text-3xl font-blackops"
      >
        SEND US A MESSAGE
      </h2>
      <p class="hidden text-black text-lg md:mt-4 md:block">
        Feel free to reach out to us with any questions you may have or if you
        would like to set up an appointment.
      </p>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full md:w-full px-3 mb-3 md:mb-0">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="grid-first-name"
          >
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-name"
            type="text"
            placeholder="Name *"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="grid-password"
          >
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="email"
            type="email"
            placeholder="Email *"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="grid-phone"
          >
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="phone"
            type="text"
            placeholder="Phone *"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-">
        <div class="w-full md:w-1/2 px-3 mb- md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-first-city"
          >
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="grid-city"
            type="text"
            placeholder="City"
          />
        </div>
        <div class="w-full md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-state"
          >
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-state"
            type="text"
            placeholder="State"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="grid-phone"
          >
          </label>
          <select
            class="appearance-none block w-full bg-gray-200 text-gray-400 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="phone"
          >
            <option value="">Select an option</option>
            <option value="Option 1">Team Building</option>
            <option value="Option 2">Seal Mentoring</option>
            <option value="Option 3">Individual Training</option>
            <option value="Option 3">Other Info</option>
          </select>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-black text-xs font-bold mb-2"
            for="grid-password"
          >
          </label>
          <textarea
            class="no-resize appearance-none block w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none"
            id="message"
            placeholder="Message"></textarea>
          <p class="text-gray-600 text-xs italic"></p>
        </div>
      </div>
      <div class="md:flex md:items-center">
        <div class="md:w-1/3">
          <button
            class="shadow bg-yellow-600 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="button"
          >
            Send
          </button>
        </div>
        <div class="md:w-2/3"></div>
      </div>
    </form>
  </div>
  <div class="flex flex-col my-auto -ml-20">
    <Image
      alt="thumbs up"
      src={statue}
      class="h-3/4 w-full mx-auto object-cover sm:h-[calc(100%_-_2rem)] sm:self-end rounded-2xl z-0 shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px]"
    />
  </div>
</section>
