---
import { Image } from "astro:assets";
import mike from "../assets/mike-talk.jpg";
---

<section class="max-w-6xl mx-auto my-10 flex flex-col items-center sm:block">
  <Image
    alt="mike talk"
    src={mike}
    class="shadow-lg rounded max-w-full h-auto mx-10 border-none sm:float-left"
  />
  <div class="p-4 sm:p-8">
    <div class="mx-auto text-left ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-yellow-600 md:text-3xl">Mike Getka</h2>
      <p class="md:mt-4 font-bold text-black text-xl">U.S. Navy SEAL (ret)</p>

      <p class="text-black text-lg md:mt-4">
        Mike is a retired Navy SEAL, with over 20 years of experience in
        leading, training, and mentoring high-performance teams in challenging
        and demanding environments.
      </p>
      <p class="text-black text-lg md:mt-4">
        Following his retirement, he worked as the Warrior Challenge Program
        Mentor for Navy Recruiting District in Jacksonville, Florida and as the
        Deputy National Mentor for the Navy Recruiting Command. He assisted with
        the oversight and mission success for 26 Navy Recruiting Districts
        nationwide. The Warrior Challenge Program provides training and
        mentoring for SEAL, SWCC, EOD, Navy Diver, and AIRR rescue candidates.
      </p>
      <p class="text-black text-lg md:mt-4">
        In addition, Mike worked for Spartan Race as the U.S. Events and
        Operations, Real Estate Manager. He managed over 25 race venues,
        corporate contracts, and negotiations, across the continental United
        States to include relationships with Major League Baseball (MLB) and
        National Football League (NFL) stadiums.
      </p>
      <p class="text-black text-lg md:mt-4">
        Mike’s father, a hardworking Polish immigrant, engrained in him a laser
        focused mindset, strong work ethic, and never quit attitude.
      </p>
    </div>
  </div>
</section>
