<div
  class="p-8 md:p-12 lg:px-16 lg:py-24 bg-[url('/beach-pic.jpg')] bg-fixed bg-no-repeat bg-cover"
>
  <div
    class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right bg-slate-200/90 rounded-2xl p-4"
  >
    <h2
      class="text-2xl font-bold text-yellow-600 tracking-widest md:text-3xl font-blackops"
    >
      TEAM BUILDING TRAINING FOR ATHLETIC & BUSINESS ORGANIZATIONS
    </h2>
    <p class="hidden md:mt-4 md:block font-bold text-black text-2xl">
      Tailored Approach:
    </p>

    <p class="text-black md:mt-4 text-xl">
      We understand that every individual and team is unique. Our Getka SEAL
      Mindset experiential training is customized to address your team’s
      specific goals and challenges, ensuring maximum impact.
    </p>
    <div class="mt-4 md:mt-8">
      <a
        href="#"
        class="inline-block rounded bg-yellow-600 px-12 py-3 font-bold text-black uppercase text-lg transition hover:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-800"
      >
        Learn More
      </a>
    </div>
  </div>
</div>
