---
import { Image } from "astro:assets";
import boat from "../assets/boat.jpg";
---

<section
  class="overflow-hidden sm:grid sm:grid-cols-2 sm:items-center max-w-6xl mx-auto my-10"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-left ltr:sm:text-left rtl:sm:text-right">
      <h2
        class="text-2xl font-bold text-yellow-600 text-center tracking-widest md:text-3xl font-blackops"
      >
        BASIC UNDERWATER DEMOLITION/SEAL (BUD/S) PREPARATION
      </h2>
      <p
        class="hidden md:mt-4 md:block font-bold text-black text-xl text-center"
      >
        “There Are Two Ways of Doing Things…The Right Way…and Again!”
      </p>

      <p class="hidden text-black text-xl md:mt-4 md:block">
        You will be given the tools and guidance needed to earn a Navy SEAL
        contract (ticket to BUD/S). How do we do that?
      </p>
      <p class="hidden md:mt-4 md:block font-bold text-black text-xl my-2">
        Training Background:
      </p>
      <ul class="text-left space-y-2 list-disc list-outside text-xl">
        <li>
          Selected as Instructor of the Year (1999) for the Naval Special
          Warfare Center.
        </li>
        <li>
          Trained 2400+ Basic Underwater Demolition/SEAL (BUD/S) students.
        </li>
        <li>
          Trained and Mentored 2000+ Warrior Challenge candidates for the Navy
          Recruiting District, Jacksonville.
        </li>
      </ul>

      <div class="mt-4 md:mt-8 flex justify-center">
        <a
          href="#"
          class="inline-block rounded bg-yellow-600 px-12 py-3 font-bold text-black uppercase text-lg transition hover:bg-yellow-700 focus:outline-none focus:ring focus:ring-yellow-800"
        >
          Schedule Training
        </a>
      </div>
    </div>
  </div>
  <Image
    alt="thumbs up"
    src={boat}
    class="h-full w-3/4 mx-auto object-cover sm:h-[calc(100%_-_2rem)] sm:self-end rounded-2xl pb-10"
  />
</section>
