<div id="home" class="h-[70vh]">
  <div class="flex flex-col items-center justify-center">
    <video
      src="/video.mp4"
      class="absolute -z-20 top-0 h-5/6 sm:h-full flex w-screen object-cover"
      autoplay="{true}"
      loop
      muted
    >
    </video>
    <div
      class="mt-28 sm:mt-72 max-w-5xl mx-auto h-fit font-blackops text-white font-bold text-4xl sm:text-6xl text-center"
    >
      Train With A Navy SEAL To Unlock Your Full Potential
    </div>
  </div>
</div>
