---
import Footer from "./Footer.astro";
import Navbar from "./NavBar.astro";
import { SEO } from "astro-seo";

import "@fontsource/black-ops-one";
import "@fontsource-variable/source-sans-3";
import "@fontsource/source-sans-pro";

const { titleProp } = Astro.props;

let path = Astro.url.pathname;

let title = "";
if (path === "/") {
  title = "Home - Getka SEAL Mindset";
} else {
  title = titleProp
    ? titleProp + " - " + "Getka SEAL Mindset".trim()
    : path
        .split("-")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join("-")
        .split("/")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .filter((p) => p !== "")
        .join(" - ")
        .replaceAll("-", " ") +
      " - " +
      "Getka SEAL Mindset".trim();
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description="Getka SEAL Mindset - Train With A Navy SEAL To Unlock Your Full Potential. Welcome ToGetka SEAL Mindset Interested in Maximizing Team Potential? Pursuing a Navy SEAL Contract? We enhance individual performance and create more effective teams by using the proven training techniques our founder applied during his time as a Navy SEAL instructor"
      openGraph={{
        basic: {
          title:
            "Getka SEAL Mindset - Train With A Navy SEAL To Unlock Your Full Potential.",
          type: "website",
          image: "/beach.jpg",
        },
        optional: {
          description:
            "Getka SEAL Mindset - Train With A Navy SEAL To Unlock Your Full Potential.",
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: "/beach.jpg",
          },
          {
            name: "twitter:title",
            content:
              "Getka SEAL Mindset - Train With A Navy SEAL To Unlock Your Full Potential.",
          },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
  </head>
  <body class="overflow-x-hidden">
    <Navbar />
    <slot />
    <Footer />
  </body><script>
    const modals = document.querySelectorAll("dialog");
    modals.forEach((modal) => {
      modal.addEventListener("close", function () {
        document.body.classList.remove("overflow-hidden");
      });
    });
  </script>
</html>
