---
const { id } = Astro.props;
---

<dialog id={id} class="backdrop:bg-neutral-800/90 text-black">
  <form method="dialog" class="mx-auto bg-white relative w-[90vw] max-w-2xl">
    <button class="p-4 absolute right-0 top-0">
      <svg
        fill="black"
        stroke="black"
        width="20"
        height="20"
        data-loading="lazy"
        class="search-menu-exit mt-2"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 20 20"
        data-id="svg-loader_28"
      >
        <path d="M2,2 L18,18" stroke-width="3"></path>
        <path d="M10,10 L10,10" stroke-width="3"></path>
        <path d="M2,18 L18,2" stroke-width="3"></path>
      </svg>
    </button>
  </form>
  <stripe-pricing-table
    pricing-table-id="prctbl_1NsHXXJpcXIe2CsAt5i5VtlP"
    publishable-key="pk_test_51NsHMQJpcXIe2CsA2KLvzyEsSiYnKosRHjocOdmT91lSLCjeEPwx1xvDZ09xfj9QU4y5YIJIqVGD5APDvZFRNfzA00Cl1weaqC"
  >
  </stripe-pricing-table>
</dialog>

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
