<div
  class="grid grid-cols-1 place-items-center md:grid-cols-2 gap-4 mx-auto max-w-6xl pb-10 p-4 sm:p-0"
>
  <div
    style="box-shadow:0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1)"
    class="flex flex-col max-w-lg align-center mb-10 justify-between border border-solid border-gray-200 dark:border-dark bg-yellow-600 dark:bg-dark-80 rounded-xl"
  >
    <div class="flex flex-col px-6 pt-8 pb-10 space-y-5">
      <svg
        width="24"
        height="18"
        viewBox="0 0 24 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-gray-A400 dark:text-gray-600 fill-current"
      >
        <path
          d="M24 7.3h-5.1L22.3.4H17l-3.4 6.9v10.3H24V7.3zM10.3 17.6V7.3H5L8.6.4H3.4L0 7.3v10.3h10.3z"
          fill="current"></path>
      </svg>
      <p class="text-lg m-0" style="hyphens:auto">
        If you know Mike Getka then you begin to understand his mindset. I've
        known Mike for 33 years and I've seen his intensity firsthand. The thing
        about Mike is that he has an incredible talent to motivate people and
        he's been doing it his entire life. As a younger SEAL I looked up to
        Mike because of his intensity and sincere passion for the job. But as
        Mike has gotten older, Mike has effectively transformed that intensity
        into a measured understanding of how to inspire leadership and team
        building. The great thing about the Getka SEAL Mindset is that he still
        holds that spark that inspires and motivates. And, from all his
        experience as a Basic Underwater Demolition/SEAL (BUD/S) instructor, he
        knows how to build leaders to take charge, organize, and work together.
        I've seen it firsthand, and the mental aspect of the teambuilding might
        be more important than the physical. Mike is truly a unique personality
        and skilled leader... Get some GSM!!!
      </p>
    </div>
    <div
      class="flex space-x-2 bg-yello-600 dark:bg-dark-70 px-6 pt-6 pb-5 rounded-b-xl"
    >
      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col justify-center">
          <p class="text-white m-0 text-lg font-semibold">Aric L.</p>
          <p class="text-white m-0 text-base italic font-semibold mt-1">
            SEAL Team Two Teammate
          </p>
        </div>
        <a
          href="/testimonials"
          class="inline-block rounded bg-white px-4 hover:text-white py-3 font-bold text-yellow-600 tracking-widest uppercase text-lg transition hover:bg-yellow-600 hover:border-2 border-2 border-transparent hover:border-white focus:outline-none focus:ring focus:ring-yellow-800"
        >
          read more
        </a>
      </div>
    </div>
  </div>
  <div
    style="box-shadow:0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1)"
    class="flex flex-col max-w-lg align-center mb-10 justify-between border border-solid border-gray-200 dark:border-dark bg-yellow-600 dark:bg-dark-80 rounded-xl"
  >
    <div class="flex flex-col px-6 pt-8 mb-10 space-y-5">
      <svg
        width="24"
        height="18"
        viewBox="0 0 24 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-gray-A400 dark:text-gray-600 fill-current"
      >
        <path
          d="M24 7.3h-5.1L22.3.4H17l-3.4 6.9v10.3H24V7.3zM10.3 17.6V7.3H5L8.6.4H3.4L0 7.3v10.3h10.3z"
          fill="current"></path>
      </svg>
      <p class="text-lg m-0" style="hyphens:auto">
        I was recently tasked with setting up and coordinating a team building
        event for my son’s lacrosse team. This is an annual event, and our usual
        location was unavailable, so we had to come up with a new site with
        little time to plan. We found a site to challenge the boys but needed
        someone to lead and teach them about teamwork. Mike was referred to me
        by one of the other parents who knew of him and his reputation as a
        leader. To say Mike’s leadership during this event was a success is an
        understatement. Mike helped to tie the whole day together and kept the
        boys engaged without them losing focus. He wanted to get as much
        information about the team and their history so he could develop a
        training strategy. The day went off without a hitch and everyone
        involved was very grateful for Mike’s involvement. I would highly
        recommend Mike Getka for his leadership and team building skills as I
        plan to use him for my company’s events in the future.
      </p>
    </div>
    <div
      class="flex space-x-2 bg-yello-600 dark:bg-dark-70 px-6 pt-6 pb-5 rounded-b-xl"
    >
      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col justify-center">
          <p class="text-white m-0 text-lg font-semibold">Tom McCrudden</p>
          <p class="text-white m-0 text-base italic font-semibold mt-1">
            President, Great Florida Shellfish Company
          </p>
        </div>
        <a
          href="/testimonials"
          class="inline-block rounded bg-white px-4 hover:text-white py-3 font-bold text-yellow-600 tracking-widest uppercase text-lg transition hover:bg-yellow-600 hover:border-2 border-2 border-transparent hover:border-white focus:outline-none focus:ring focus:ring-yellow-800"
        >
          read more
        </a>
      </div>
    </div>
  </div>
</div>
