---
import { Image } from "astro:assets";
import hero from "../../assets/beach.jpg";
---

<div class="w-screen h-fit relative">
  <Image
    src={hero}
    alt="running on beach"
    class="object-cover object-bottom absolute -z-10"
  />
  <div
    class="[text-shadow:10px_4px_8px_rgba(0,0,0)] max-w-5xl tracking-wide mx-auto font-blackops text-yellow-500 font-bold text-4xl sm:text-6xl text-center h-[30vh] md:h-[50vh] lg:h-[80vh] pt-10 lg:pt-20"
  >
    TESTIMONIALS

    <p
      class="max-w-5xl mx-auto text-white font-bold font-sans text-2xl sm:text-4xl text-center mt-2"
    >
      Making A Difference
    </p>
  </div>
</div>
